alembic
annotated-types
anyio
certifi
click
coverage
dotenv
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
Mako
MarkupSafe
mysqlclient
packaging
pluggy
pydantic
pydantic-settings
pydantic_core
Pygments
pytest
pytest-cov
python-dotenv
setuptools
sniffio
SQLAlchemy
SQLAlchemy-Utils
starlette
typing-inspection
typing_extensions
uvicorn
wheel
